<p>menu works!</p>

<a routerLink="ejemplo0">ejemplo0</a> |
<a routerLink="ejemplo1">ejemplo1</a> |
<a routerLink="ejemplo2">ejemplo2</a> |
<a routerLink="ejemplo3">ejemplo3</a> |
<a routerLink="ejemplo3B">ejemplo3B</a> |
<a routerLink="ejemplo4">ejemplo4</a> |
<a routerLink="ejemplo4B">ejemplo4B</a> |
<a routerLink="ejemplo5">ejemplo5</a> |
<a routerLink="ejemplo6">ejemplo6</a> |
<a routerLink="ejemplo7">ejemplo7</a> |
<a routerLink="ejemplo8">ejemplo8</a> |
<a routerLink="ejemplo8">ejemplo9</a> |
<a routerLink="ejemplo10">ejemplo10</a> |
<a routerLink="ejemplo11">ejemplo11</a> |
<a routerLink="ejemplo12">ejemplo12</a> |
<a routerLink="ejemplo12B">ejemplo12B</a> |
<a routerLink="ejemplo13">ejemplo13</a> |
<a routerLink="ejemplo13B">ejemplo13B</a> |
<a routerLink="ejemplo14">ejemplo14</a> |
<a routerLink="ejemplo15">ejemplo15</a> |
<a routerLink="ejemplo16">ejemplo16</a> |
<a routerLink="ejemplo17">ejemplo17</a> |
<a routerLink="ejemplo17B">ejemplo17B</a> |
<a routerLink="ejemplo18">ejemplo18</a> |
<a routerLink="ejemplo19">ejemplo19</a> |
<hr/>
<a routerLink="ejercicio1">ejercicio1</a> |
<a routerLink="ejercicio2">ejercicio2</a> |
<a routerLink="ejercicio3B">ejercicio2B</a> |
<a routerLink="ejercicio3">ejercicio3</a> |